
li{
    margin-bottom: 10px !important;
    
}

.cool-link {
    display: inline-block !important ;
    color: white !important ;
    text-decoration: none ;
  }
  
  .cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: orangered ;
    transition: width .3s;
  }
  
  .cool-link:hover::after {
    width: 100% ;
    transition: width .3s;
  }

