 html{
    min-height: 100%;
  
    
  } 
  
  
  .line-1{
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%); 
  }


  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }


  @keyframes typewriter{
    from{width: 0;}
    /* to{width: 15em;} */
    to{width: 100%}
  }


  .name{
    animation-delay: 2s;
  }
  .full-stack{
    animation-delay: 4s;
  }
  .developing{
    animation-delay: 7s;
  }

  .cool-link {
    display: inline-block !important ;
    color: white !important ;
    text-decoration: none ;
  }
  
  .cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: crimson ;
    transition: width .3s;
  }
  
  .cool-link:hover::after {
    width: 100% ;
    transition: width .3s;
  }
  
